
@media (min-width: 481px) and (max-width: 1023px) {
    html{
        background-color: black;
        color: white;
        body{ 
            font-family: "LuxuriousRoman-Regular" ;
            height: 100vh;    background-color: black;
            color: white;
        } 
        .subrayado{
            text-decoration: none ;
        } 
        ul {
            list-style-type: none  ;
            
        }
        a{ 
            color: white;
        } 
            header{
                font-family: 'Times New Roman', Times, serif;
                color: white;
                background-color: black;
            }
        } 
    main{
        font-size: 125%;
        h1{
            color: red;
        } 
        h2{
            margin: 1rem 1.5rem; 
            font-size: 4vh;
        }
        h3{
            margin: 1rem 1rem;
        } 
        h4{
            margin: 1rem 1rem;
        }
    } 
    ul {
        list-style-type: none  ;
        a{ 
            color: white
            } 
        
    } 
    .flexMenu{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    
    } 
        p{
            display: none;
            text-align: left;
            height: 3vh;
            width: 5vh; 
            font-size: 2vh;
            margin: 5% 5%;
        } 
        
        .centrarImg{
            display: flex;
            justify-content: center;
        } 
        .tamañoDeImagen{
            width: 50vh;
            transition: all 1s;
        }
        .tamañoDeImagen:hover{
            border: red solid 2vh;
        }
        .transicion{
            transition: all 1s;
        }
        .transicion:hover {
        
            border: white solid 3vh;}
            
    nav{ 
    ul{
        
        li{
            width: 25vh;
            height: 10vh;
            margin: 0.5rem 1rem 1rem 1rem ;
            padding: 9vh;
            text-align: center;
            font-size: 3vh; 
            color: white; 
        }
    } 
}
article{
    h2{
        margin: 10vh 5vh 15vh 10vh; 
        font-size: 5vh;
        }

} 
    .lanzamientos{
        width: 70vh;
    }

    
    /* Parte del encabezado de la pagina*/ 
    
    /* Clases */ 
    .tituloPrincipal{
        font-size: 8vh;
        color: red; 
        text-align: center; 
        margin: 5% 5%;
    /* text aling es para alineacion de texto*/
        
    
    } 
    .moverTitulo{
        transform: translateX(15vh);
    }

    .tamañoDeImagen1{
        width:30vh;
        margin-bottom: 10vh;
        transition: all 1s;
    
    } 
.tamañoDeImagen1:hover{
    border: green solid 3vh;}

    .tamañoDeImagen2{
        width: 30vh;
        margin-bottom: 10vh; 
        transition: all 1s;

    } 
    .tamañoDeImagen2:hover{
        border: blue solid 3vh;
    }

    .h3Center{
        text-align: center;
    } 
    .titulo1{
        color: blue;
        text-align: center;
        font-size: 7.5vh; 
        margin-top: 5vh;
        display: flex;
        flex-wrap: nowrap; 
    } 
    /* grids+flex+media */
    .grids{
        display: grid;
        grid-template-columns: 7fr; 
        grid-template-rows: 2fr;
        /* 2 columnas */
        justify-content: space-evenly;
        margin-top: 5%;
        
    } 
    .grids1{
        display: grid;
        grid-template-columns: 3fr; 
        grid-template-rows: 1fr;
        /* 2 columnas */
        justify-content: center;
        margin-top: 5%;
        
    } 
    .grids2{
        display: grid;
        grid-template-columns: 6fr; 
        grid-template-rows:  1fr 1fr;
        /* 2 columnas */
        justify-content: center;
        margin-top: 10vh;
        margin-right: 15vh;
        margin-left: 13vh;}
        
    .gridAreas{
        display: grid;
        grid-template-areas: 
        "header"
        "menu" 
        "juegos" 
        "footer" ;
        grid-template-columns: 3fr ;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .distanciaDeImg{
        margin-bottom: 15vh;
        width: 30vh;
    } 
    .ig{
        width:35vh;
        margin-bottom: 15vh;}

} 
/* Smartphone */
@media (max-width:480px) {
    html{
        background-color: black;
        color: white;
    }
    body{ 
        font-family: "LuxuriousRoman-Regular" ;
        height: 100vh;  
        background-color: black;
        color: white;
        header{
            font-family: 'Times New Roman', Times, serif;
            background-color: black;
            color: white;
        }
    } 
    main{
        font-size: 125%;
        h1{
            color: red;
        }
    } 
    ul {
        list-style-type: none  ;
        
    }
    a{ 
        color: white;
    } 
    .subrayado{
        text-decoration: none ;
    }
    article{
        h2{
            margin: 2vh 3vh 5vh 4vh; 
            font-size: 4vh;
            }
    } 
    .moverTitulo{
        transform: translateX(5vh);
    ul {
        list-style-type: none  ;
        a{ 
            color: white
            } 
        
    }
}
    .distanciaDeImg{
        margin-bottom: 12vh;
        width: 40vh;
    } 
        p{
            display: none;
            text-align: justify;
            height: 1vh;
            width: 0.5vh; 
        } 
        .ig{
            width: 45vh;
            margin-bottom: 13vh;}
    
        
        .centrarImg{
            display: flex;
            justify-content: center;
        } 

        .lanzamientos{
            width:70vh;
            }

    nav{ 
        ul{
        li{
            width: 5vh;
            height: 2vh;
            margin: 1rem  ;
            padding: 4vh;
            text-align: center;
            font-size: 3vh; 
            color: white;

    } 
    } 
    }
    .flexMenu{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    
    } 
    
    /* Parte del encabezado de la pagina*/ 
    
    /* Clases */ 
    .tituloPrincipal{
        font-size: 8vh;
        color: red; 
        text-align: center; 
        margin: 5% 5%;
    /* text aling es para alineacion de texto*/
        
    
    } 
    .tamañoDeImagen{
        width: 38vh;
        transition: all 1s;
    }
    .tamañoDeImagen:hover{
        border: red solid 2vh;
    }
    .transicion{
        transition: all 1s; 
        width: 50vh;
    } 
    .transicion:hover {
    
        border: white solid 2vh;}

    
    .tamañoDeImagen1{
        width: 51vh;
        margin-bottom: 2vh;

        transition: all 1s;
    
    } 
    .tamañoDeImagen1:hover{
        border: green solid 5vh;}
    .tamañoDeImagen2{
        width: 51vh;
        margin-bottom: 1%;

        transition: all 1s;
    } 
    .tamañoDeImagen2:hover{
        border: blue solid 5vh;
    }

    .h3Center{
        text-align: center;
    } 
    .titulo1{
        color: blue;
        text-align: center;
        font-size: 7vh; 
        margin-top: 5%;
        display: flex;
        flex-wrap: nowrap; 
    } 
    /* grids+flex+media */
    .grids{
        display: grid;
        grid-template-columns: 7fr; 
        grid-template-rows: 2fr;
        /* 2 columnas */
        justify-content: space-evenly;
        margin-top: 5%;
        
    } 
    .grids1{
        display: grid;
        grid-template-columns: 3fr; 
        grid-template-rows: 1fr;
        /* 2 columnas */
        justify-content: center;
        margin-top: 5%;
        
    } 
    .grids2{
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows:  1fr;
        /* 2 columnas */
        justify-content: center;
        margin-top: 2%;
        margin-right: 50%;
        margin-left: 40% }
        
    .gridAreas{
        display: grid;
        grid-template-areas: 
        "header"
        "menu" 
        "juegos" 
        "footer" ;
        grid-template-columns: 3fr ;
        grid-template-rows: 1fr 1fr 1fr;
    }

    h2{
        font-size: 4vh;
    }
    p{
        font-size: 1.1rem;
        text-align: left;
        margin: 5% 5%;
    } 
}